@function weight($weight-name) {
    @return map-get($font-weigths, $weight-name)
};

@function size($size-name) {
    @return map-get($font-size, $size-name)
};


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem;

    .intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include transition-ease;

        &__text {
            color: $text-color;
            font-family: 'Inconsolata', monospace;
        }

        .my__name {
            font-weight: weight(bold);
            font-size: size(bold);
            font-family: 'Roboto Slab', serif;
        }

        &__social-icons {
            position: fixed;
            padding: 1rem;
            bottom: 2.5rem;
            z-index: 2;
            @include transition-ease;
            backdrop-filter: blur(7px) saturate(200%);
                -webkit-backdrop-filter: blur(7px) saturate(200%);
                background-color: rgba(17, 25, 40, 0.36);
                border-radius: 12px;
                border: 1px solid rgba(255, 255, 255, 0.125);
        
                &:hover {
                    background: $secondary-color;
                    @include transition-ease;
                }

                a:hover {
                    color: $primary-color;
                    @include transition-ease;
                }
        }
    }

    .about-me {
        
        .container-fluid {
            width: 90vw;

            .flex {
                color: $text-color;
                font-family: 'Inconsolata', monospace;
                display: flex;
                flex-direction: row;
                gap: 2.5rem;                
            }
        }
    }

    .my-services {

        .container {

            .row {

                .col-md {
                    
                    .card {
                        background: lighten($secondary-color, 1%);
                        color: $text-color;
                        border-bottom: 5px $primary-color solid;
                        font-family: 'Bitter', serif;
                        word-spacing: 3px;
                        @include transition-ease;

                        &:hover {
                            border: 1px $primary-color solid;
                            @include transition-ease;
                        }
                    }
                }
            }
        }
    }

    .contact {

        &__light {
            color: $text-color;
        }

        &__big {
            font-size: size(bold);
            font-weight: weight(medium);
        }

        .container {
            border-radius: 5px;
            padding: 20px;
            width: 50vw;
            border: 1px solid $primary-color;
            font-family: 'Roboto Slab', serif;


            input[type=text], input[type=email], textarea {
                width: 100%;
                padding: 12px;
                background: $secondary-color;
                border: 1px solid $primary-color;
                border-radius: 4px;
                resize: vertical;
                font-family: 'Roboto Slab', serif;
                color: $text-color;

            }

            label {
                padding: 12px 12px 12px 0;
                display: inline-block;
                color: $text-color;
            }

            input[type=submit] {
            background-color: lighten($secondary-color, 6%);
            color: $text-color;
            padding: 12px 20px;
            border: none;
            width: 100px;
            border-radius: 4px;
            cursor: pointer;
            float: right;

            &:hover {
                background-color: $secondary-color;
                border: 1px $primary-color solid;
                @include transition-ease;
            }
            }
            
            .col-25 {
            float: left;
            width: 25%;
            margin-top: 6px;
            }
            
            .col-75 {
            float: left;
            width: 75%;
            margin-top: 6px;
            }

            /* Clear floats after the columns */
            .row::after {
                content: "";
                display: table;
                clear: both;
            }
        }
    }
}