@include media-sm {
    header {
        .menu-btn {
            right: 3rem;
        }

        main {
            margin: 0;

            .intro {
                width: 100vw;
                margin-left: 2rem;
                .my__name {
                    // font-weight: weight(regular);
                    // font-size: size(sm-only);
                    font-size: 10px;
                }
            }

            .about-me {
        
                .container-fluid {
        
                    .flex {
                        display: flex;
                        flex-direction: column;               
                    }
                }
            }

            .my-services {
                margin-left: 2rem;
            }
        }

        footer {
            .container {
                font-size: 2.2vw;
            }
        }
    }
}


@include media-md {
    
    main {

        .about-me {
        
            .container-fluid {
    
                .flex {
                    img {
                        width: 50%;
                        height: auto;
                    }
                    display: flex;
                    flex-direction: column;
                }
            }
        }

        /* Responsive layout - when the screen is less than 600px wide, 
        make the two columns stack on top of each other instead of next to each other */
        .contact {
            .container {
                width: 90vw;
                .col-25, .col-75 {
                    width: 100%;
                    margin-top: 0;
                  }
            }
        }
    }
}
